@import "tailwindcss";

@theme {
  --color-primary: #3366cc;
  --color-primary-dark: #1e3a8a;
  --color-primary-light: #a7c7e7;
  --color-primary-hover: #295bb3;

  --color-gray-lightest: #f5f7fa;
  --color-gray-light: #d1d5db;
  --color-gray-medium: #6b7280;
  --color-gray-dark: #374151;

  --color-accent: #00bfa6;
  --color-accent-hover: #00a28c;
}
