@import "tailwindcss";

@theme {
  --color-primary: #3366cc;
  --color-primary-dark: #1e3a8a;
  --color-primary-light: #a7c7e7;
  --color-primary-hover: #295bb3;

  --color-gray-lightest: #f5f7fa;
  --color-gray-light: #d1d5db;
  --color-gray-medium: #6b7280;
  --color-gray-dark: #374151;

  --color-accent: #00bfa6;
  --color-accent-hover: #00a28c;
}
.hero-container {
  position: relative;
  display: inline-block; /* keeps box aligned with image */
  width: 100%; /* responsive */
  max-width: 100%; /* adjust as needed */
}

.hero-image {
  width: 100%;
}

.rating-box {
  position: absolute;
  bottom: 5px; /* distance from bottom */
  right: 3.5rem; /* distance from right */
  background: #007bff;
  color: white;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  font-weight: bold;
}
